<!DOCTYPE html>
<html>
  <head>
    <title>Boom</title>
    <%#= csrf_meta_tags %>
    <%#= csp_meta_tag %>
    <meta property="og:title" content="Boom" />
    <meta property='og:image' content="<%= image_url("Boom.gif') %>"/>
    <meta property="og:description" content="An interactive music streaming platform for artists and listeners." />
    <meta property="og:url" content="https://boom-music.herokuapp.com/#/"/>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%#= favicon_link_tag asset_path('sound.png') %>
    <%# <script src="https://kit.fontawesome.com/92fff4274c.js" crossorigin="anonymous"></script> 
    <%# <%= favicon_link_tag asset_path('soundcloud_favicon.ico') %>
    <%# <script src="https://unpkg.com/wavesurfer.js"></script> %>
    
    
    
  </head>

  <body>
    <%= yield %>
  </body>
</html>
